#searchResult, #listOfFavorites{
  margin: 50px auto 0 auto; 
}

.grid-item{
    width: 350px;
}
.grid-item img{
    width: 100%;
    vertical-align:bottom;
    z-index: -1;
}

.grid-item .inner{
    position: relative;
}

.grid-item .inner .filter{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    /* z-index: 3; */
    width: 100%;
    height: 100%;
    display: none;
}

.grid-item .inner .icons{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    width: 100%;
    height: 100%;
}

.grid-item .inner .icons .icon{
    display: none;
    padding: 0 10px;
    position: relative;
    /* z-index: 1; */
}

.grid-item .inner .icons .icon{
    color: white;
}

.grid-item .inner .icons .link2details a{
    text-decoration: none;
    color: white;
}

.grid-item .inner .icons .icon i:hover{
    color: #c9c6c6;
}


.grid-item .inner .icons .link2favorites .added{
    color: #fd5f7a;
}
.grid-item .inner .icons .link2favorites i.added:hover{
    color: #fa8c9e;
}