body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    background-image: url('/img/pistachio.jpg'); 
    background-size: cover;
    position: relative;
    
  }
  /*--- navigation bar ---*/
  .navbar {
    background: rgba(29, 45, 68, 1);
    
  }
  .nav-link,
  .navbar-brand {
    color: #92AC86;
    cursor: pointer;
    font-family: 'Livvic', sans-serif;
    
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #fff;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .overlay {
    position: absolute;
    min-height: 150%;
    min-width: 100%;
    left: 0;
    top: 70;
    background: rgba(0, 0, 0, 0.5);
  } 
  .about h1 {
    color: #92AC86;
    font-family: 'Livvic', sans-serif;
    font-size: 3.5rem;
    padding: 3%;
  }
  .about p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: 'Roboto Slab', serif;
    padding: 1%;
  }
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    text-align: center;
    z-index: 10;
  }
  .row p {
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 4%;
  }
  .feature-title {
    color: #92AC86;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Livvic', sans-serif
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }
