body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    background-image: url('/img/fries.jpg');
    background-size: cover;
    position: relative;
    min-height: -webkit-fill-available;
  }
  /*--- navigation bar ---*/
  .navbar {
    background: rgba(29, 45, 68, 1);
  }
  .nav-link,
  .navbar-brand {
    color: #92AC86;
    cursor: pointer;
    font-family: 'Livvic', sans-serif;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #fff;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .overlay {
    position: absolute;
    min-height: 101%;
    min-width: 100%;
    left: 0;
    top: 70;
    background: rgba(0, 0, 0, 0.5);
  }
  .about h1 {
    color: #92AC86;
    font-family: 'Livvic', sans-serif;
    font-size: 3.5rem;
    padding: 3%;
  }
  .about p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: 'Roboto Slab', serif;
  }
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    text-align: center;
    z-index: 10;
  }
  .row p {
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
  
  }
  .fa, .fas, .far {
    padding: 25px;
    background: whitesmoke;
    border: solid 2px rgba(29, 45, 68, 1);
    border-radius: 35px
  }
  .row a {
    color: white;
    text-decoration: underline;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .feature-title {
    color: #92AC86;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Livvic', sans-serif
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }
  .title {
    color: #92AC86;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Livvic', sans-serif;
  }
  .submit {
  display: flex;
  justify-content: center;
  }
  .btn {
    background-color: rgba(29, 45, 68, 1);
    border: rgba(29, 45, 68, 1);
    color: #92AC86;
  }
  .alert {
    text-align: center;
    padding: 10px;
    background-color: orange;
    color: white;
    margin-bottom: 10px;
    display: none;
  }
