#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    width: 80vw;
    margin: auto;
    padding-top: 40px;
}
#restaurant-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/img/bowl.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
}
.rest-info {
    flex: 1;
    background-color: white;
    color: grey;
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    margin-top: 30px;
    width: 80vw;
    text-align: center;
}
.rest-map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin: auto;
    padding: 20px;
}
.rest-address {
    color: yellow;
}
.rest-phone {
    color: white;
}
.rest-rating {
    color: white;
}
.fa-star {
    color: yellow;
}
.link-color {
    color: white;
}