#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
#restaurant-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/img/bowl.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
}
.rest-info {
    border: solid navy;
    flex: 1;
    background-color: white;
    color: grey;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    text-align: center;
}
.rest-map-container {
    justify-content: center;
    align-items: center;
    border: solid navy;
    flex: 2;
    margin: 20px;
    /* width: 80% */
    
}